{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html"  as wtf %}
{% block metas  %}
{{ super() }}
{% endblock %}

{% block styles %}
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='local')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/font-awesome.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Flasky {% endblock %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='local')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='local')}}"></script>
<script>
  $('.nav navbar-nav side-nav > li').click(function (e) {
        e.preventDefault();
        $('.nav navbar-nav side-nav > li').removeClass('active');
        $(this).addClass('active');
    });
</script>
<script src="{{ url_for('static', filename='js/echarts/echarts.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>

{% endblock  %}



{% block navbar %}
<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

	<!--  1. 图标-->
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">DAWX--运维</a>
    </div>  <!-- 1，图标结束-->

	<!-- 2. 侧边 和右边 -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
	  <!-- 3. 侧边  -->
	  <ul class="nav navbar-nav side-nav">
        <li><a href={{ url_for('main.index') }} ><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active"><a href={{ url_for('dawx.index') }}><i class="fa fa-bar-chart-o"></i> 业务自动化</a></li>
        <li><a href={{ url_for('sginfo.index') }}><i class="fa fa-table"></i> 服务器信息查看</a></li>
        <li><a href={{ url_for('chat.index') }}><i class="fa fa-edit"></i>消息中心 </a></li>
        <li><a href="/dawxinfo/"><i class="fa fa-font"></i> 业务数据查看</a></li>
        <li><a href="/bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
        <li><a href="/bootstrap-grid.html"><i class="fa fa-wrench"></i>ddd </a></li>
        <li><a href="/user.html"><i class="fa fa-file"></i> 个人中心</a></li>
        <li class="dropdown">
          <a href="/about/" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> 关于 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about/dawx.html">关于dawx</a></li>
            <li><a href="/about/product.html">关于这个产品</a></li>
            <li><a href="/about/me.html">关于我</a></li>
          </ul>
        </li>
      </ul> <!-- 3，侧边关闭-->
	  
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown messages-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> 消息通知 <span class="badge">7</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">7 条新消息</li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">查看消息盒子 <span class="badge">8</span></a></li>
          </ul>
        </li>
        <li class="dropdown alerts-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> 报警 <span class="badge">3</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Default <span class="label label-default">Default</span></a></li>
            <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
            <li><a href="#">Success <span class="label label-success">Success</span></a></li>
            <li><a href="#">Info <span class="label label-info">Info</span></a></li>
            <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
            <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
            <li class="divider"></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
		
    	{% if current_user.is_authenticated() %}
		<li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> Hui <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> 个人信息</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> 消息盒子 <span class="badge">7</span></a></li>
            <li><a href="#"><i class="fa fa-gear"></i> 视图</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-power-off"></i> 退出</a></li>
          </ul>
        </li>
		{% else %}
		<li><a href="{{ url_for('auth.login') }}">登陆</a></li>
		{% endif %}

		
      </ul> <!-- 4. 右侧关闭 -->
	</div> <!--  侧边和右边 -->
  </nav> <!-- nav 结束    -->

  
  <div id="page-wrapper">
	<div class="row">
	  <!--  消息通知 -->
	  {% for message in get_flashed_messages() %}
	  <div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	  </div>
	  {% endfor %}
	  <div class="col-lg-12">
      <!--		<h1> {% block child_dir %} 主页 {% endblock %} <small> {{ astr  }}</small></h1> -->
      
		<ol class="breadcrumb">
          <li><a href="{{ url_for('main.index') }}"><i class="icon-dashboard"></i> 主页</a></li>
          <li class="active"><i class="icon-file-alt"></i> {{ astr }}</li>
        </ol>

    	{% block page_content %}
	{% endblock %}
        </div>
	  </div>
	</div> <!-- row end -->


  </div>


</div>

{% endblock %}


