{% extends "base.html" %}

{% block title %} CPU_info {% endblock  %}




{% block page_content %}

<div class="row">
	<div class="nav col-lg-2 col-lg-offset-5">
	  <div class="form-group">
	  <lable><h3>item:</h3></lable>
	  <select class="form-control" id="item"> </select>
	  </div>
	</div>

</div>
	

      <hr>
    <div class="row">
      <div class="form-inline  text-center" >

        <!-- 这个用作选择框-->
        <div    class="form-group">
          <lable>请选择查看的时间线:</lable>
          <input name="mycheckbox" type="radio" value="0" checked="checked" > today
          <input name="mycheckbox" type="radio" value="1"> Yesterday
          <input name="mycheckbox" type="radio" value="6"> 7days
          <input name="mycheckbox" type="radio" value="29"> 30days
        </div>
        <!-- 选择框结束 -->

        <div class="form-group" >
          <label>&nbsp;&nbsp;请选择时间间隔:</label>
          <!-- 下拉框用于选择时间间隔 -->
          <select id="myoption" >
            <option value="1"> 1天</option>
            <option value="7"> 7天</option>
            <option value="30"> 30天</option>
          </select>
        </div>
        <!-- 下拉框结束 -->

        <!-- 提交按钮 -->
        <button onclick="dawxgraphcreate()" class="btn btn-default">提交</button>
        <!-- 提交按钮结束 -->
      </div>
    </div>
    <hr >






<hr />
<div id="test" class='col-lg-12' style="height:400px"></div>


</div>

{% endblock %}

 {% block scripts %}
  {{ super() }}

<script src="{{ url_for('static', filename='js/wshtest.js') }}"></script>


<script type="text/javascript">


  var namevalue = 10137; //V10_web
  var applicationvalue = 3146; //application: web
  getitemlist(namevalue,applicationvalue);

function dawxgraphcreate()
{
    drawgraphinit();
    var titlename = $("#item").children('option:selected').text();
    var itemvalue = $("#item").children('option:selected').val();
    var time_eval = '';
    $("[name='mycheckbox']").each(function(){
        if (true == $(this).prop("checked")) {
            time_eval = $(this).prop('value');
        }
  });

  var days_eval =$("#myoption").children('option:selected').val();
    
   }


</script>
	  {% endblock %}
