{% extends "base.html" %}
{% block title %} 区服管理{% endblock %}


{% block page_content %}

<div class="col-lg-12">
  <h1></h1>
  <h2>请选择你要使用的功能</h2>
  <h1></h1>
  <div class="row text-center ">
	<div class="col-lg-3">
	  <a href="manage_gamezone.html?id=1" class="btn btn-info btn-lg"  role="button">新建区服</a>	  
	</div>
	<div class="col-lg-3">
	  <a href="manage_gamezone.html?id=2" class="btn btn-danger btn-lg" role="button">删除区服</a>
	</div>
  </div>
  <h1></h1>
  <h1></h1>
  <h2>最近的开区</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th>区号 <i class="fa fa-sort"></i></th>
          <th>所在大区<i class="fa fa-sort"></i></th>
          <th>所在服务器<i class="fa fa-sort"></i></th>
          <th>服务器代号<i class="fa fa-sort"></i></th>
		  <th>目前人数<i class="fa fa-sort"></i></th>
		  <th>是否开区<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>512</td>
          <td>1265</td>
          <td>32.3%</td>
          <td>$321.33</td>
		  <td>2345</td>
		  <<td>True</td>>
        </tr>
      </tbody>
    </table>
  </div>
</div>

			
{% endblock %}
